/* Coolors Exported Palette - coolors.co/3d4656-5d8a79-dac9b2-d7a954-8d714c */

$color1: #3d4656; //rgba(61, 70, 86, 100)
$color2: #5d8a79; //rgba(93, 138, 121, 100)
$color3: #dac9b2; //rgba(218, 201, 178, 100)
$color4: #d7a954; //rgba(215, 169, 84, 100)
$color5: #8d714c; //rgba(141, 113, 76, 100)